.carousel-section {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.carousel-container {
  position: relative;
  padding: 20px;
}

.carousel-inner {
  position: relative;
  max-height: 610px;
}

.carousel-item img {
  max-width: 90%;
  margin: auto;
  display: block;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgb(233, 55, 55),
    rgba(88, 65, 65, 0) 20%,
    rgba(59, 224, 161, 0) 80%,
    rgb(69, 204, 65)
  );
}

.csci-313-section {
  background-color: wheat;
  position: absolute;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
